<h1>Websites</h1>
<div class="list-group">
  <p *ngFor="let website of websites" class="list-group-item">
      <a [routerLink]="'/websites/' + website._id + '/pages'">
     <span [hidden]="website.editing">{{website.title}}</span> </a>
     <input
       [(ngModel)]="website.title"
       [hidden]="!website.editing"/>
     <i [hidden]="website.editing"
        (click)="setEditing(website, true)"
        class="btn btn-warning">EDIT</i>
     <i [hidden]="!website.editing"
        (click)="setEditing(website, false)"
        class="btn btn-success">OK</i>
     <button (click)="deleteWebsite(website)"
        class="btn btn-danger">Delete</button>
  </p>
  
</div>
<br/>
<button (click)="createWebsite()" class="btn btn-success">
  Create Website
</button>
